\.idea/
data/perls_custom.json
data/perls_virtual.json
src/berrybrew.exe
Release/
bak/
backup_*
*.sln
#*.csproj
*.csproj.user
*.suo
*.runsettings
*.testsettings
build/
test/
bin/Debug
bin/Release
main.txt
obj/
*.config
packages/
*.vbs
perl/
#.gitattributes
*.swp
*~
